* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  white-space: 1px;
  text-shadow: whitesmoke;
}

body {
  background-color: #547792;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: #ecefca;
}

.body {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.card {
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  background-color: #213448;
  width: 300px;
  height: 350px;
  border-radius: 15px;
  border-color: #94b4c1;
  border-width: 5px;
  border-style: double;
  box-shadow: 0px 3px 8px #213448;
}

.card:hover {
  background-color: #ecefca;
  border-color: #213448;
  box-shadow: -3px 3px 4px black;
}

a {
  text-decoration: none;
  color: wheat;
}
.card:hover a {
  color: #213448;
}

/*
#Paleta de colores
#213448
#547792
#94B4C1
#ECEFCA
*/
